* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
body {
  font-family: "poppinsregular", Arial, Helvetica, sans-serif;
}

body img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../src/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Header */
header {
  padding: 10px 0;
  border-bottom: 1px solid #e2e8f0;
}
header .head-container {
  display: flex;
  justify-content: space-between;
}

header .head-container .head-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .head-container .head-left h1 {
}

header .head-container .head-left h1 img {
}

header .head-container .head-left .logo-name {
  font-size: 16px;
  font-weight: 500;
}

header .head-container .head-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .head-container .head-right .cart-wrapper {
  cursor: pointer;
}

header .head-container .head-right .cart-wrapper img {
}

header .head-container .head-right .login {
  border: 1px solid #334155;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

header .head-container .head-right .signup {
  border: 1px solid #334155;
  padding: 10px;
  background: #334155;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

/* Spotlight */
#spotlight {
}

#spotlight .spot-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}

#spotlight .spot-container .spot-left {
  align-self: center;
  width: 50%;
}

#spotlight .spot-container .spot-left h4 {
  font-size: 40px;
  font-weight: 700;
  color: #0f172a;
}

#spotlight .spot-container .spot-left .description {
  font-size: 16px;
  font-weight: 400;
  color: #334155;
  padding: 24px 0;
}

#spotlight .spot-container .spot-left .start {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #3b82f6;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
  background: #3b82f6;
  cursor: pointer;
}

#spotlight .spot-container .spot-right {
  position: relative;
  width: 50%;
}

#spotlight .spot-right .circle-wrapper {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

#spotlight .spot-right .blue-circle {
  width: 200px;
  height: 200px;
  background: #60a5fa;
  top: 8%;
  left: 55%;
}

#spotlight .spot-right .blue-circle img {
  height: 202px;
}
#spotlight .spot-right .dots {
  width: fit-content;
  position: relative;
  left: 48%;
  top: 8%;
}

#spotlight .spot-right .dots_two {
  width: fit-content;
  position: relative;
  top: 18%;
  left: 10%;
}

#spotlight .spot-right .diamond {
  width: 30px;
  background: #000;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
  left: 58%;
}

#spotlight .spot-right .diamond img {
  width: 20px;
}

#spotlight .spot-right .red-circle {
  width: 200px;
  height: 200px;
  background: #f87171;
  top: 45%;
  transform: translateY(-50%);
  left: 20%;
}

#spotlight .spot-right .red-circle img {
  height: 202px;
  position: relative;
  right: 10%;
}

#spotlight .spot-right .yellow-circle {
  width: 200px;
  height: 200px;
  background: #facc15;
  bottom: 14%;
  left: 55%;
}

#spotlight .spot-right .yellow-circle img {
  height: 202px;
}

#spotlight .spot-container .spot-right .model_four-wrapper {
  position: relative;
  top: 32%;
  left: 40%;
  width: fit-content;
}

#spotlight .spot-container .spot-right .model_four-wrapper img {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

/* Courses */
#course-count {
  background: #f8fafc;
}

#course-count .course-container {
  padding: 40px 0;
}

#course-count .course-container ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#course-count .course-container ul li {
  font-size: 32px;
  font-weight: 600;
  color: #0f172a;
  text-align: center;
}

#course-count .course-container ul .border {
  border: 2px solid #e2e8f0;
}

#course-count .course-container ul li p {
  font-size: 14px;
  font-weight: 400;
  color: #0f172a;
  padding-top: 6px;
}

/* Highlights */

/* categories */
#highlights {
}

#highlights .highlight-container {
  margin: 55px 0;
}

#highlights .highlight-container .highlight {
}

#highlights .highlight-container .highlight .top-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#highlights .highlight-container .highlight .top-headings .left-heading {
  font-size: 24px;
  font-weight: 600;
  color: #0f172a;
}

#highlights .highlight-container .highlight .top-headings .right-see_all {
  font-size: 14px;
  font-weight: 500;
  color: #3b82f6;
}

#highlights .highlight-container .highlight .bottom-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#highlights .highlight-container .highlight .bottom-cards .card-items {
  border: 1px solid #e0f2fe;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.05);
}
#highlights .highlight-container .highlight .bottom-cards .card-items:hover {
  background: #f8fafc;
}

#highlights
  .highlight-container
  .highlight
  .bottom-cards
  .card-items
  .astro-wrapper {
  display: flex;
  justify-content: center;
}

#highlights
  .highlight-container
  .highlight
  .bottom-cards
  .card-items
  .astro-wrapper
  .cat-icons {
  width: fit-content;
  border: 1px solid #e0f2fe;
  padding: 20px;
  border-radius: 50%;
  background: #e0f2fe;
}

#highlights
  .highlight-container
  .highlight
  .bottom-cards
  .card-items
  .astro-wrapper
  .cat-icons
  img {
}

#highlights
  .highlight-container
  .highlight
  .bottom-cards
  .card-items
  .cat-title {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  padding: 10px 0;
}

#highlights
  .highlight-container
  .highlight
  .bottom-cards
  .card-items
  .course-count {
  font-size: 16px;
  font-weight: 400;
  color: #334155;
}

/* top courses */
.course-items {
  border: 1px solid #e0f2fe;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.05);
}

.course-items .course-image {
}

.course-items .course-image img {
}

.course-items .course-title {
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
  padding: 12px 0 6px 0;
}

.course-items .mentor {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}

.course-items .star-wrapper {
  display: flex;
  gap: 8px;
  padding: 6px 0;
}

.course-items .star-wrapper .star-icons {
}

.course-items .star-wrapper .star-icons img {
}

.course-items .star-wrapper .rating-count {
  font-size: 12px;
  font-weight: 600;
  color: #334155;
}

.course-items .course-description {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
  padding-bottom: 6px;
}

.course-items .course-rate {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
}
#highlights .highlight-container .highlight .course-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#highlights .highlight-container .highlight-course {
  padding: 55px 0;
}
/* top instructors */
.instructor-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.instructor-bottom .instructor-items {
  border: 1px solid #e0f2fe;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.05);
}

.instructor-bottom .instructor-items .instructor-image {
  width: 177px;
}

.instructor-bottom .instructor-items .instructor-image img {
}

.instructor-bottom .instructor-items .course-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #0f172a;
  padding: 12px 0 6px 0;
}

.instructor-bottom .instructor-items .instructor-skills {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #334155;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e8f0;
}

.instructor-bottom .instructor-items .star-instructor {
  width: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.instructor-bottom .instructor-items .star-instructor .star-single {
  width: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.instructor-bottom .instructor-items .star-instructor .star-single img {
}

.instructor-bottom .instructor-items .star-instructor .instructor-rating {
  font-size: 12px;
  font-weight: 600;
  color: #0f172a;
}

.instructor-bottom .instructor-items .students-count {
  font-size: 12px;
  font-weight: 600;
  color: #334155;
}

/* About us */
#about-us {
  background: #f8fafc;
}

#about-us .about-container {
}

#about-us .about-container .customer-review {
  padding: 65px 0;
}

#about-us .about-container .customer-review .top-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

#about-us .about-container .customer-review .top-sect .left-sect {
  font-size: 24px;
  font-weight: 600;
  color: #0f172a;
}

#about-us .about-container .customer-review .top-sect .right-sect {
  display: flex;
  gap: 24px;
}

#about-us .about-container .customer-review .top-sect .right-sect .paginator {
  background: #94a3b8;
  border: 1px solid #94a3b8;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

#about-us
  .about-container
  .customer-review
  .top-sect
  .right-sect
  .paginator
  img {
}

#about-us .about-container .customer-review .bottom-sect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#about-us .about-container .customer-review .bottom-sect .card-reviews {
  border: 1px solid #e0f2fe;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.05);
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .quote-wrapper {
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .quote-wrapper
  .quote-icons {
  width: 35px;
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .quote-wrapper
  .quote-icons
  img {
}

#about-us .about-container .customer-review .bottom-sect .card-reviews .review {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0;
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer {
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer
  .user-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer
  .user-wrapper
  .user-icon {
  width: 50px;
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer
  .user-wrapper
  .user-icon
  img {
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer
  .designer-name {
  font-size: 18px;
  font-weight: 600;
}

#about-us
  .about-container
  .customer-review
  .bottom-sect
  .card-reviews
  .designer
  .designer-skill {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}

/* Promotion */
#promotion {
  margin: 65px 0;
}

#promotion .promo-container {
}

#promotion .promo-container .promo-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

#promotion .promo-container .promo-top .model-left {
}

#promotion .promo-container .promo-top .model-left .model-wrapper {
  width: 400px;
}

#promotion .promo-container .promo-top .model-left .model-wrapper img {
}

#promotion .promo-container .promo-top .promo-content {
}

#promotion .promo-title {
  font-size: 20px;
  font-weight: 600;
}

#promotion .promo-description {
  font-size: 16px;
  font-weight: 400;
  color: #1d2939;
  padding: 16px 0;
}

#promotion .promo-button {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #000;
  padding: 10px 24px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  background: #000;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

#promotion .promo-start {
  color: #fff;
}

#promotion
  .promo-container
  .promo-top
  .promo-content
  .promo-button
  .promo-arrow {
  width: 16px;
}

#promotion
  .promo-container
  .promo-top
  .promo-content
  .promo-button
  .promo-arrow
  img {
}

#promotion .promo-container .promo-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

#promotion .promo-container .promo-bottom .model-right {
}

#promotion .promo-container .promo-bottom .model-right .model-wrapper {
  width: 400px;
}

#promotion .promo-container .promo-bottom .model-right .model-wrapper img {
}

#promotion .promo-container .promo-bottom .promo-content {
}

#promotion
  .promo-container
  .promo-bottom
  .promo-content
  .promo-button
  .promo-arrow {
  width: 16px;
}

#promotion
  .promo-container
  .promo-bottom
  .promo-content
  .promo-button
  .promo-arrow
  img {
}
