/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ol,
ul {
  list-style: none;
}
body img {
  display: block;
  width: 100%;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header */
header {
  padding: 10px 0;
  border-bottom: 1px solid #e2e8f0;
}
header .head-container {
  display: flex;
  justify-content: space-between;
}

header .head-container .head-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .head-container .head-left h1 {
}

header .head-container .head-left h1 img {
}

header .head-container .head-left .logo-name {
  font-size: 16px;
  font-weight: 500;
}

header .head-container .head-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .head-container .head-right .wishlist-wrapper {
  cursor: pointer;
}
header .head-container .head-right .cart-wrapper {
  cursor: pointer;
}
header .head-container .head-right .bell-wrapper {
  cursor: pointer;
}
header .head-container .head-right .user-border {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #334155;
  border-radius: 50%;
}
header .head-container .head-right .user-border .user-wrapper {
  width: 22px;
}