<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <section class="wrapper">
        <div class="head-container">
          <div class="head-left">
            <h1>
              <img src="../static/images/logo.svg" alt="logo" />
            </h1>
            <p class="logo-name">Byway</p>
          </div>
          <div class="head-right">
            <div class="cart-wrapper">
              <img src="../static/images/cart.svg" alt="cart" />
            </div>
            <button class="login">Log in</button>
            <button class="signup">Sign Up</button>
          </div>
        </div>
      </section>
    </header>
  </body>
</html>
