<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/single.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="main-container">
      <!-- Header -->
      <header>
        <section class="wrapper">
          <div class="head-container">
            <div class="head-left">
              <h1>
                <img src="../static/images/logo.svg" alt="logo" />
              </h1>
              <p class="logo-name">Byway</p>
            </div>
            <div class="head-right">
              <div class="wishlist-wrapper">
                <img src="../static/images/wishlist.svg" alt="wishlist" />
              </div>
              <div class="cart-wrapper">
                <img src="../static/images/cart.svg" alt="cart" />
              </div>
              <div class="bell-wrapper">
                <img src="../static/images/bell.svg" alt="bell" />
              </div>
              <div class="user-border">
                <h4 class="user-wrapper">
                  <img src="../static/images/user.svg" alt="user" />
                </h4>
              </div>
            </div>
          </div>
        </section>
      </header>

      <!-- Spotlight -->
      <section id="spotlight">
        <section class="wrapper">
          <div class="spot-container">
            <div class="navigate-top">
              <div class="home">Home</div>
              <div class="right-arrow">
                <img
                  src="../static/images/short-arrow-right-black.svg"
                  alt="arrow"
                />
              </div>
              <div class="categories">Categories</div>
              <div class="right-arrow">
                <img
                  src="../static/images/short-arrow-right-black.svg"
                  alt="arrow"
                />
              </div>
              <div class="cat-content">
                <a href="#"> Introduction to User Experience Design </a>
              </div>
            </div>
            <div class="details-middle">
              <h3 class="cat-title">Introduction to User Experience Design</h3>
              <p class="cat-description">
                This course is meticulously crafted to provide you with a
                foundational understanding of the principles, methodologies, and
                tools that drive exceptional user experiences in the digital
                landscape.
              </p>
            </div>
            <div class="reviews-bottom">
              <div class="ratings-top">
                <div class="rates-container">
                  <div class="rating">4.6</div>
                  <div class="rate-stars">
                    <img src="../static/images/ratings.svg" alt="rating" />
                  </div>
                  <div class="total-rating">(651651 rating)</div>
                </div>
                <div class="separator">|</div>
                <div class="class-details">
                  <div class="total-hours">22 Total Hours.</div>
                  <div class="total-lectures">155 Lectures.</div>
                  <div class="levels">All levels</div>
                </div>
              </div>
              <div class="autor-middle">
                <div class="author-icon">
                  <img src="../static/images/user.svg" alt="author" />
                </div>
                <div class="creator-name">
                  Created by
                  <a href="#" class="author-name">Rondal Richards</a>
                </div>
              </div>
              <div class="author-languages">
                <div class="language-wrapper">
                  <img src="../static/images/language.svg" alt="language" />
                </div>
                <div class="language-one">English,</div>
                <div class="language-two">Spanish,</div>
                <div class="language-three">Italian,</div>
                <div class="language-four">German</div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
