<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../static/css/single.css' %}" />
    <title>Single page</title>
  </head>
  <body>
    <section id="main-container">
      <!-- Header -->
      <header>
        <section class="wrapper">
          <div class="head-container">
            <a href="{% url 'web:byway' %}" class="head-left">
              <h1>
                <img
                  src="{% static '../static/images/logo.svg' %}"
                  alt="logo"
                />
              </h1>
              <p class="logo-name">Byway</p>
            </a>
            <div class="head-right">
              <div class="wishlist-wrapper">
                <img
                  src="{% static '../static/images/wishlist.svg' %}"
                  alt="wishlist"
                />
              </div>
              <div class="cart-wrapper">
                <img
                  src="{% static '../static/images/cart.svg' %}"
                  alt="cart"
                />
              </div>
              <div class="bell-wrapper">
                <img
                  src="{% static '../static/images/bell.svg' %}"
                  alt="bell"
                />
              </div>
              <div class="user-border">
                <h4 class="user-wrapper">
                  <img
                    src="{% static '../static/images/user.svg' %}"
                    alt="user"
                  />
                </h4>
              </div>
            </div>
          </div>
        </section>
      </header>

      <!-- Spotlight -->
      <section id="spotlight">
        <section class="wrapper">
          <div class="spot-container">
            <div class="navigate-top">
              <div class="home">Home</div>
              <div class="right-arrow">
                <img
                  src="{% static 'images/short-arrow-right-black.svg' %}"
                  alt="arrow"
                />
              </div>
              <div class="categories">Categories</div>
              <div class="right-arrow">
                <img
                  src="{% static 'images/short-arrow-right-black.svg' %}"
                  alt="arrow"
                />
              </div>
              <div class="cat-content">
                <a href="#">{{ course.title }}</a>
              </div>
            </div>

            <div class="details-middle">
              <h3 class="cat-title">{{ course.title }}</h3>
              <p class="cat-description">{{ course.description }}</p>
            </div>

            <div class="reviews-bottom">
              <div class="ratings-top">
                <div class="rates-container">
                  <div class="rating">{{ course.rating }}</div>
                  <div class="rate-stars">
                    <img src="{% static 'images/ratings.svg' %}" alt="rating" />
                  </div>
                  <div class="total-rating">
                    ({{ course.total_ratings }} ratings)
                  </div>
                </div>
                <div class="separator">|</div>
                <div class="class-details">
                  <div class="total-hours">
                    {{ course.total_hours }} Total Hours.
                  </div>
                  <div class="total-lectures">
                    {{ course.total_lectures }} Lectures.
                  </div>
                  <div class="levels">{{ course.level }}</div>
                </div>
              </div>

              <div class="autor-middle">
                <div class="author-icon">
                  <h4 class="author-wrapper">
                    <img src="{{ course.author_icon.url }}" alt="author" />
                  </h4>
                </div>
                <div class="creator-name">
                  Created by
                  <a href="#" class="author-name">{{ course.instructor }}</a>
                </div>
              </div>

              <div class="author-languages">
                <div class="language-wrapper">
                  <img
                    src="{% static 'images/language.svg' %}"
                    alt="language"
                  />
                </div>
                {% for language in course.languages.all %}
                <div class="language-item">{{ language.name }}</div>
                {% if not forloop.last %}, {% endif %} {% endfor %}
              </div>
            </div>

            <!-- The card -->
            <section id="card">
              <section class="wrapper no-wrapper">
                <div class="card-container">
                  <div class="top-padding">
                    <div class="image-top">
                      <img src="{{ course.image.url }}" alt="course image" />
                    </div>
                    <div class="content-middle">
                      <div class="course-rate">
                        <h3 class="offer-price">
                          ${{ course.discounted_price }}
                        </h3>
                        <h5 class="old-price">${{ course.price }}</h5>
                        <h4 class="offer-percentage">50% Off</h4>
                      </div>
                      <div class="course-buy">
                        <button class="add-to">Add To Cart</button>
                        <button class="buy-now">Buy Now</button>
                      </div>
                    </div>
                  </div>

                  <div class="content-bottom">
                    <div class="bottom-padding">
                      <p class="share-text">Share</p>
                      <div class="social-media">
                        <div class="bg-wrapper">
                          <a
                            href="https://www.facebook.com/"
                            class="social-wrapper"
                          >
                            <img
                              src="{% static 'images/facebook.png' %}"
                              alt="facebook"
                            />
                          </a>
                        </div>
                        <div class="bg-wrapper">
                          <a href="https://github.com/" class="social-wrapper">
                            <img
                              src="{% static 'images/github.png' %}"
                              alt="github"
                            />
                          </a>
                        </div>
                        <div class="bg-wrapper">
                          <a
                            href="https://www.google.com/"
                            class="social-wrapper"
                          >
                            <img
                              src="{% static 'images/google.jpg' %}"
                              alt="google"
                            />
                          </a>
                        </div>
                        <div class="bg-wrapper">
                          <a href="https://x.com/" class="social-wrapper">
                            <img
                              src="{% static 'images/twitter.avif' %}"
                              alt="twitter"
                            />
                          </a>
                        </div>
                        <div class="bg-wrapper">
                          <a
                            href="https://www.microsoft.com/en-in/"
                            class="social-wrapper"
                          >
                            <img
                              src="{% static 'images/microsoft.png' %}"
                              alt="microsoft"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </div>
        </section>
      </section>

      <!-- Course Description -->
      <section id="course-description">
        <section class="wrapper">
          <div class="description-container">
            <div class="description-top">
              <div class="description">Description</div>
              <div class="description">Instructor</div>
              <div class="description">Syllabus</div>
              <div class="description">Reviews</div>
            </div>
            <div class="details-container">
              <div class="course">
                <h4 class="description-headings">Course Description</h4>
                <p class="description-paragraph course-padding">
                  {{ course.course_description }}
                </p>
              </div>
              <div class="certification">
                <h4 class="description-headings">Certification</h4>
                <p class="description-paragraph certification-padding">
                  {{ course.certification }}
                </p>
              </div>
              <div class="instructor">
                <h4 class="description-headings instructor-padding">
                  Instructor
                </h4>
                <div class="instructor-details">
                  <a href="#" class="instructor-name"
                    >{{ course.instructor }}</a
                  >
                  <p class="instructor-skill">{{ course.role }}</p>
                </div>
                <div class="instructor-profile">
                  <div class="instructor-image">
                    <h4 class="instructor-wrapper">
                      <img
                        src="{{ course.author_icon.url }}"
                        alt="instructor"
                      />
                    </h4>
                  </div>
                  <div class="instructor-achievments">
                    <div class="achieve-wrapper">
                      <h4 class="icon-wrapper">
                        <img
                          src="{% static '../static/images/achive.svg' %}"
                          alt="achievement"
                        />
                      </h4>
                      <p class="achieve-details">
                        {{ course.reviews }} Reviews
                      </p>
                    </div>
                    <div class="achieve-wrapper cap-padding">
                      <h4 class="icon-wrapper cap-width">
                        <img
                          src="{% static '../static/images/cap.svg' %}"
                          alt="cap"
                        />
                      </h4>
                      <p class="achieve-details">
                        {{ course.total_students }} Students
                      </p>
                    </div>
                    <div class="achieve-wrapper">
                      <h4 class="icon-wrapper play-width">
                        <img
                          src="{% static '../static/images/play.svg' %}"
                          alt="play"
                        />
                      </h4>
                      <p class="achieve-details">
                        {{ course.total_courses }} Courses
                      </p>
                    </div>
                  </div>
                </div>
                <div class="profile-description">
                  <p class="description-paragraph profile-padding">
                    {{ instructor.bio }}
                  </p>
                </div>
              </div>
            </div>
            <div class="syllabus-bottom">
              <h4 class="description-headings syllabus-padding">Syllabus</h4>
              <div class="syllabus-grid">
                {% for section in syllabus %}
                <div class="line grid-flex">
                  <div class="down-arrow">
                    <img
                      src="{% static '../static/images/arrow-down.svg' %}"
                      alt="arrow"
                    />
                  </div>
                  <h5 class="syllabus-name">{{ section.title }}</h5>
                  <p class="syllabus-lesson">{{ section.lessons }} Lessons</p>
                  <p class="lesson-time">{{ section.duration }}</p>
                </div>
                <div class="border-separator"></div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- Reviews Section -->
      <section id="reviews">
        <section class="wrapper">
          <div class="review-container">
            <div class="title-top">Learner Reviews</div>
            <div class="rev-middle">
              <div class="star-ratings">
                <div class="full-review">
                  <div class="single-star">
                    <h4 class="review-wrapper-single">
                      <img
                        src="{% static '../static/images/star.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <div class="count-reviews">
                      <h4 class="rating-count">4.6</h4>
                      <p class="total-review">146,951 reviews</p>
                    </div>
                  </div>
                </div>
                <div class="calculate-review">
                  <div class="five-star star-flex">
                    <h4 class="review-wrapper">
                      <img
                        src="{% static '../static/images/ratings.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <p class="percent-rev">80%</p>
                  </div>
                  <div class="four-star star-flex">
                    <h4 class="review-wrapper">
                      <img
                        src="{% static '../static/images/ratings-four.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <p class="percent-rev">10%</p>
                  </div>
                  <div class="three-star star-flex">
                    <h4 class="review-wrapper">
                      <img
                        src="{% static '../static/images/ratings-three.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <p class="percent-rev">5%</p>
                  </div>
                  <div class="two-star star-flex">
                    <h4 class="review-wrapper">
                      <img
                        src="{% static '../static/images/ratings-two.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <p class="percent-rev">3%</p>
                  </div>
                  <div class="one-star star-flex">
                    <h4 class="review-wrapper">
                      <img
                        src="{% static '../static/images/ratings-one.svg' %}"
                        alt="star"
                      />
                    </h4>
                    <p class="percent-rev">2%</p>
                  </div>
                </div>
              </div>
              <div class="detailed-review">
                {% for review in reviews %}
                <div class="review border-rev">
                  <div class="review-user user-flex">
                    <h4 class="rev-user-wrapper">
                      <img
                        src="{{ review.user_image.url }}"
                        alt="user"
                      />
                    </h4>
                    <h4 class="rev-user-name">{{ review.user_name }}</h4>
                  </div>
                  <div class="the-review">
                    <div class="total-rev-star">
                      <h4 class="review-wrapper-single">
                        <img
                          src="{% static '../static/images/star.svg' %}"
                          alt="star"
                        />
                      </h4>
                      <h5 class="total-five">{{ review.rating }}</h5>
                      <div class="review-date">
                        <p class="date">
                          Reviewed on {{ review.review_date|date:"jS F, Y" }}
                        </p>
                      </div>
                    </div>
                    <div class="rev-description">
                      <p>{{ review.description }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %} {% if not reviews %}
                <p>No reviews available for this course yet.</p>
                {% endif %}

                <div class="view-more-rev">
                  <button class="view-more">View more Reviews</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- About us -->
      <section id="about-us">
        <section class="wrapper">
          <div class="about-container">
            <div class="customer-review">
              <div class="top-sect">
                <h5 class="left-sect">
                  What Our Customer Say <br />
                  About Us
                </h5>
                <div class="right-sect swiper-pagination">
                  <button class="paginator">
                    <img
                      src="{% static '../static/images/short-arrow-left.svg' %}"
                      alt="paginator"
                    />
                  </button>
                  <button class="paginator">
                    <img
                      src="{% static '../static/images/short-arrow-right.svg' %}"
                      alt="paginator"
                    />
                  </button>
                </div>
              </div>
              <div class="bottom-sect">
                {% for testimonial in testimonials %}
                <div class="card-reviews">
                  <div class="quote-wrapper">
                    <h4 class="quote-icons">
                      <img
                        src="{% static '../static/images/quotes.svg' %}"
                        alt="quotes"
                      />
                    </h4>
                  </div>
                  <p class="review">"{{ testimonial.quote }}"</p>
                  <div class="designer">
                    <div class="user-wrapper">
                      <h4 class="user-icon">
                        <img src="{{ testimonial.image.url }}" alt="designer" />
                      </h4>
                      <div class="designer-info">
                        <h5 class="designer-name">{{ testimonial.name }}</h5>
                        <p class="designer-skill">{{ testimonial.role }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </section>
      
      <section id="more">
        <section class="wrapper">
          <div class="highlight-container">

            <!-- top courses -->
            <div class="highlight highlight-course">
              <div class="top-headings">
                <h5 class="left-heading">More Courses</h5>
                <a href="{% url 'web:courses' %}" class="right-see_all"
                  >See All</a
                >
              </div>
              <div class="course-bottom">
                {% for course in courses %}
                <a
                  href="{% url 'web:single_course' course.id %}"
                  class="course-items"
                >
                  <div class="course-image">
                    <img src="{{ course.image.url }}" alt="{{ course.title }}" />
                  </div>
                  <h5 class="course-title">{{ course.title }}</h5>
                  <p class="mentor">By {{ course.instructor }}</p>
                  <div class="star-wrapper">
                    <h4
                      style="display: flex; align-items: center; gap: 5px"
                      class="star-icons"
                    >
                      <img src="{{ course.star_rating.url }}" alt="star-icon" />
                      {{ course.rating }}
                    </h4>
                    <p class="rating-count">
                      ({{ course.total_ratings }} Ratings)
                    </p>
                  </div>
                  <div class="course-description">
                    {{ course.total_hours }} Total Hours. {{ course.total_lectures }} Lectures. {{ course.level }}
                  </div>
                  <div class="course-rate">${{ course.price }}</div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>

        </section>
      </section>

      <!-- Footer -->
      <footer>
        <section class="wrapper">
          <div class="footer-container">
            <div class="first-item">
              <div class="logo-title">
                <h4 class="logo-wrapper">
                  <img
                    src="{% static '../static/images/logo.svg' %}"
                    alt="logo"
                  />
                </h4>
                Byway
              </div>
              <p class="first-description">
                Empowering learners through accessible and engaging online
                <br />
                education. Byway is a leading online learning platform dedicated
                to <br />
                providing high-quality, flexible, and affordable educational
                <br />
                experiences.
              </p>
            </div>
            <div class="second-item">
              <h4 class="item-title">Get Help</h4>
              <ul>
                <li>Contact Us</li>
                <li>Latest Articles</li>
                <li>FAQ</li>
              </ul>
            </div>
            <div class="third-item">
              <h4 class="item-title">Programs</h4>
              <ul>
                <li>Art & Design</li>
                <li>Business</li>
                <li>IT & Software</li>
                <li>Languages</li>
                <li>Programming</li>
              </ul>
            </div>
            <div class="fourth-item">
              <h4 class="item-title">Contact Us</h4>
              <ul>
                <li>Address: 123 Main Street, Anytown, CA 12345</li>
                <li>Tel: +(123) 456-7890</li>
                <li>Mail: bywayedu@webkul.in</li>
              </ul>
              <div class="social-media">
                <div class="bg-wrapper">
                  <a target="_blank" href="https://www.facebook.com/" class="social-wrapper">
                    <img
                      src="{% static '../static/images/facebook.png' %}"
                      alt="facebook"
                    />
                  </a>
                </div>
                <div class="bg-wrapper">
                  <a target="_blank" href="https://github.com/" class="social-wrapper">
                    <img
                      src="{% static '../static/images/github.png' %}"
                      alt="github"
                    />
                  </a>
                </div>
                <div class="bg-wrapper">
                  <a target="_blank" href="https://www.google.com/" class="social-wrapper">
                    <img
                      src="{% static '../static/images/google.jpg' %}"
                      alt="google"
                    />
                  </a>
                </div>
                <div class="bg-wrapper">
                  <a target="_blank" href="https://x.com/" class="social-wrapper">
                    <img
                      src="{% static '../static/images/twitter.avif' %}"
                      alt="twitter"
                    />
                  </a>
                </div>
                <div class="bg-wrapper">
                  <a target="_blank"
                    href="https://www.microsoft.com/en-in/"
                    class="social-wrapper"
                  >
                    <img
                      src="{% static '../static/images/microsoft.png' %}"
                      alt="microsoft"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </section>

    <!-- Linking js -->
    <script src="{% static '../static/js/single.js' %}"></script>
  </body>
</html>
